body{
    background-color: rgb(4, 5, 65);
    color: white;
}

body>h1, h2 {
    text-align: center;
}

.caixa {
    background-color: #ffffffa8;
    margin: 15px;
    padding: 10px;
    height: auto;
    border-radius: 15px;
}

input {
    background: local;
    border: 2px solid rgb(30, 83, 182);
    border-radius: 2px;
    margin-bottom: 5px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.caixa>h1 {
    text-align: center;
}

.result {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

.result>p {
    text-align: justify;
    text-decoration: underline dotted black;
}

.verde{
    background-color: rgb(1, 247, 1);
    color: #000;
}

.vermelho {
    background-color: red;
    color: #000;
}

button {
    background: none;
    color: #fff;
    border: 2px solid  red;
    
    cursor: pointer;
    transition: .5s;
}

button:hover { 
    border: 2px solid rgb(16, 124, 226);
    background: rgb(255, 0, 0);
    color: #000;
    font-weight: 600;
}